<div class="header-block">
  <div class="logo-panel">
    <div class="holder">
      <h1 class="logo"><a href="#wrapper">DISK HERNIA FIX</a></h1>
      <div class="nav-holder">
        <nav id="nav">
          <div class="navigation-block" >
            <span class="opener-nav"></span>
            <ul class="navigation">
              <li><a href="/spine-anatomy-and-physiology-url">Prevalence</a></li>
              <li><a href="/spine-injuries-and-disorders-url">Symptoms</a></li>
              <li><a href="/diagnostic-tests-and-treatment-url">Diagnostic procedures</a></li>
              <li><a href="/manage-care-and-support-url">Treatment</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="header">
  </div>
</div>
